{% extends "BackendBundle::backend.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tiny_mce/tiny_mce.js') }}"></script>
    <script src="{{ asset('js/uploadify/jquery.uploadify.min.js') }}"></script>
    <script src="{{ asset('js/Jcrop/jquery.Jcrop.min.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block menu_horizontal %}
    {% include 'BackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'ubicaciones'} %}
{% endblock %}

{% block siderbar %}  
    {% include 'BackendBundle:Default:siderbar.html.twig' with {'pagina': 'ubicaciones'} %}
{% endblock %}

{% block javascript_adicional %}
    <script>
        setTimeout(displayMap,3000);
        
        
        
        function displayMap(){
            var pos = new google.maps.LatLng(
                    '{{entity.latitude}}', 
                    '{{entity.longitude}}'
            );
            var options = {
	zoom: 15,
	center: pos,
	mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), options);
            var marker = new google.maps.Marker({
	position: pos,
	map: map,
	title: '{{entity.direccion | raw }}'
            });
            var contentString = "<b>Timestamp:</b> " + parseTimestamp(pos.timestamp) + "<br/><b>Ubicacion del usuario:</b> lat " + pos.coords.latitude + ", long " + pos.coords.longitude + ", precision " + pos.coords.accuracy;
            var infowindow = new google.maps.InfoWindow({
	content: contentString
            });
            google.maps.event.addListener(marker, 'click', function() {
	infowindow.open(map,marker);    
            });
        }
        
        function displayError(error) {
	var errors = { 
                        1: 'Permiso denegado',
                        2: 'Posicion no disponible',
	      3: 'Timeout'
	};
	alert("Error: " + errors[error.code]);
        }
        
         function parseTimestamp(timestamp) {
	var d = new Date(timestamp);
                  var day = d.getDate();
	var month = d.getMonth() + 1;
	var year = d.getFullYear();
	var hour = d.getHours();
	var mins = d.getMinutes();
	var secs = d.getSeconds();
	var msec = d.getMilliseconds();
	return day + "." + month + "." + year + " " + hour + ":" + mins + ":" + secs + "," + msec;
        }
        
    </script>
{% endblock %}    
    
{% block body %}
<h1>Ubicacion "{{entity.direccion | raw }}"</h1>

<table class="record_properties table table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ entity.direccion | raw }}</td>
        </tr>
        <tr>
            <th>Mapa</th>
            <td><div id="map" style="height:400px; width: 400px;"></div></td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>{{ entity.latitude }}</td>
        </tr>
        <tr>
            <th>Logitude</th>
            <td>{{ entity.longitude }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions nav nav-pills">
        <li>
            <button class="btn" onclick="location.href='{{ path('ubicaciones') }}'">
                Regresar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <button class="btn btn-success" onclick="location.href='{{ path('ubicaciones_edit', { 'id': entity.id }) }}'">
                Editar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <form action="{{ path('ubicaciones_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
        </li>
</ul>
{% endblock %}